<nav class="navbar navbar-default navbar-custom">
    <div class="navbar-header">

    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Currency" asp-action="CurrencyList">Currency</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Wallet</a></li>
        </ul>
    </div>
</nav>