@model List<Pochete.Models.Currency>

@{
    ViewData["Title"] = "Currency List";
}

<br/>

@Html.Partial("PartialNavbar")

<p> Create new currency </p>

<div class="table-responsive">          
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var currency in Model)
            {
                <tr>
                    <td> @currency.Code </td>
                    <td> @currency.Name </td>
                    <td> See rates </td>
                    <td> Edit </td>
                    <td> Delete </td>
                </tr>
            }
        </tbody>
    </table>
</div>